body { 
    
    background-color: rgb(0, 0, 0);
    margin: 0;
    padding: 0;
    
}

.ana-foto {
    width: 100%;    
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.781), rgba(0, 0, 0, 0));;
}

/*header*/
h1 {
    color: red;
    align-items: center;
    margin:0%
}

.foto-container {
    background-image:linear-gradient(to bottom, #fcfcfc00, rgb(0, 0, 0)),url(/anafoto.jpeg);
    height: 90vh;
    background-size: cover;
    width: 100%;
    z-index: -1;

}

header {
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    font-weight: bold;
    gap: 1rem;
    height: 68px;   
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to bottom, #000000, rgba(0, 0, 0, 0.123));
    padding: 0 4%;
}

.linkler {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    
}

header nav a{
    color: #e5e5e5;
    text-decoration: none;
}

.batuflix{
    font-family: "Jaro";
    color: rgb(185, 11, 185);
    font-size: 2rem;
    padding-right: 1rem;
    text-decoration: none;
}


.search {
    display: flex;
    justify-content: space-between;
}

.bulamadım {
    background: transparent;
    border: none;
    width: 5rem;
}

.icons {
    font-size: 25px;
    display: flex;
    gap: 1rem;
    align-items: center;
}



/*header*/

/* burdan sonrası ana ekrandaki bilgiler */

.main-section {
    display: flex;
    flex-direction: column;
    width: 50vh;
    gap: 1rem;
    margin-left: 5rem;
    margin-top: 6rem;

}

.main-section p {    
    font-size: 1.5em;
}

.avatar-logo {
    width: 100%;
}

.konu {
    font-family: "Roboto Condensed";
    color: #e5e5e5;
    font-weight:normal;
    width: 100%;
    
}

.butonlar {
    display: flex;
    gap: 1rem;
    
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    width: 10em;
    height: 3rem;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    font-size: 15px;
}

.button:hover {
    background-color: rgb(234, 0, 255);
    color: rgb(255, 255, 255);
    
}

.button2 {
    width: 14rem;
    height: 3rem;
    border: none;
    border-radius: 4px;
    background-color: rgba(128, 128, 128, 0.644);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    font-weight: bold;
    font-size: 15px;
}

.button2:hover {
    background-color: rgba(128, 128, 128, 0.356);
    
}

/* burdan sonrası öneri kısımları */

.main-oneriler{
    padding: 0 5rem;
    margin-top: 5rem;    
}

.senin-icin, .senin-icin2, .senin-icin3 {    
    display: flex;
    gap: 0.5rem;
}

h2 {
    padding-top: 10px;
    color: white;
    font-family: "Arvo";
    font-size: 1.3rem;
}

h2:hover {
    color: #e5e5e5;
}

.senin-icin div,.senin-icin2 div, .senin-icin3 div {    
    padding: 5% 8%;    
}

.kareler1 {
    background-image: url(vinland-saga--20953.jpg);
    background-size: 100% 100%;
    border-radius: 7px;
    transition: 0.5s;
    
}

.kareler2 {
    background-image: url(poi.jpg);
    background-size: 100% 100%;
    border-radius: 7px;
    transition: 0.5s;
}

.kareler3{
    background-image: url(friends.jpg);
    background-size: 100% 100%;
    border-radius: 7px;
    transition: 0.5s;
}

.kareler4{
    background-image: url(interstaller.jpeg);
    background-size: 100% 100%;
    border-radius: 7px;
    transition: 0.5s;
}

.kareler5{
    background-image: url(predestination.jpg);
    background-size: 100% 100%;
    border-radius: 7px;
    transition: 0.5s;
}

.kareler6{
    background-image: url(green\ book.jpg);
    background-size: 100% 100%;
    border-radius: 7px;
    transition: 0.5s;
}

.kareler7{
    background-image: url(lotr.jpg);
    background-size: 100% 100%;
    border-radius: 7px;
    transition: 0.5s;
}

.kareler8{
    background-image: url(titanic.jpg);
    background-size: 100% 100%;
    border-radius: 7px;
    transition: 0.5s;
}

.kareler9{
    background-image: url(batman.jpg);
    background-size: 100% 100%;
    border-radius: 7px;
    transition: 0.5s;
}

.kareler10{
    background-image: url(oppenheimer.jpeg);
    background-size: 100% 100%;
    border-radius: 7px;
    transition: 0.5s;
}

.kareler11{
    background-image: url(godfather.jpg);
    background-size: 100% 100%;
    border-radius: 7px;
    transition: 0.5s;
}

.kareler12{
    background-image: url(revenant.jpeg);
    background-size: 100% 100%;
    border-radius: 7px;
    transition: 0.5s;
}

.kareler13{
    background-image: url(john-wick.jpg);
    background-size: 100% 100%;
    border-radius: 7px;
    transition: 0.5s;
}

.kareler14{
    background-image: url(hayri.jpg);
    background-size: 100% 100%;
    border-radius: 7px;
    transition: 0.5s;
}

.kareler15{
    background-image: url(karayip.jpeg);
    background-size: 100% 100%;
    border-radius: 7px;
    transition: 0.5s;
}

.kareler16{
    background-image: url(starwars.jpeg);
    background-size: 100% 100%;
    border-radius: 7px;
    transition: 0.5s;
}

.kareler17{
    background-image: url(missionimp.png);
    background-size: 100% 100%;
    border-radius: 7px;
    transition: 0.5s;
}

.kareler18{
    background-image: url(httyd.jpg);
    background-size: 100% 100%;
    border-radius: 7px;
    transition: 0.5s;
}


/*----------------hoverlar--------------*/

.kareler1:hover {
    background-image: url(anime-vinland-saga.gif);
    transform: scale(1.5);    
    transition: 0.5s; 
    transition-delay: 0.5s;
    
    
}

.kareler2:hover {
    background-image: url(poigif.gif);
    transform: scale(1.5);
    transition: 1s; 
    transition-delay: 0.5s;
} 

.kareler3:hover {
    background-image: url(friends.gif);
    transform: scale(1.5);
    transition: 1s; 
    transition-delay: 0.5s;
} 

.kareler4:hover {
    background-image: url(interstellar.gif);
    transform: scale(1.5);
    transition: 1s; 
    transition-delay: 0.5s;
} 

.kareler5:hover {
    background-image: url(predestination-ethan-hawke.gif);
    transform: scale(1.5);
    transition: 1s; 
    transition-delay: 0.5s;
} 

.kareler6:hover {
    background-image: url(green-book-fried-chicken.gif);
    transform: scale(1.5);
    transition: 1s; 
    transition-delay: 0.5s;
} 

.kareler7:hover {
    background-image: url(gandalf.gif);
    transform: scale(1.5);
    transition: 1s; 
    transition-delay: 0.5s;
} 
    
.kareler8:hover {
    background-image: url(titanic.gif);
    transform: scale(1.5);
    transition: 1s; 
    transition-delay: 0.5s;
} 
    
.kareler9:hover {
    background-image: url(darkknight.gif);
    transform: scale(1.5);
    transition: 1s; 
    transition-delay: 0.5s;
} 
    
.kareler10:hover {
    background-image: url(oppenheimer.gif);
    transform: scale(1.5);
    transition: 1s; 
    transition-delay: 0.5s;
} 
    
.kareler11:hover {
    background-image: url(godfather2.gif);
    transform: scale(1.5);
    transition: 1s; 
    transition-delay: 0.5s;
} 
    
.kareler12:hover {
    background-image: url(revenant.gif);
    transform: scale(1.5);
    transition: 1s; 
    transition-delay: 0.5s;
} 

.kareler13:hover {
    background-image: url(john-wickgif.gif);
    transform: scale(1.5);
    transition: 1s; 
    transition-delay: 0.5s;
} 

.kareler14:hover {
    background-image: url(hayrigif.gif);
    transform: scale(1.5);
    transition: 1s; 
    transition-delay: 0.5s;
} 
        
.kareler15:hover {
    background-image: url(piratesgif.gif);
    transform: scale(1.5);
    transition: 1s; 
    transition-delay: 0.5s;
} 
        
.kareler16:hover {
    background-image: url(darthvader.gif);
    transform: scale(1.5);
    transition: 1s; 
    transition-delay: 0.5s;
} 
        
.kareler17:hover {
    background-image: url(missionimpgif.gif);
    transform: scale(1.5);
    transition: 1s; 
    transition-delay: 0.5s;
} 
    
.kareler18:hover {
    background-image: url(htt\ gif.gif);
    transform: scale(1.5);
    transition: 1s; 
    transition-delay: 0.5s;
} 
    
/* burdan sonrası footer */

.isimyok {   
    margin-left: 5rem;
    margin-right: 5rem;
    display: flex;
    justify-content: space-between;
    margin-top: 5rem;
    flex-direction: column;
    gap: 2rem;
    width: 50rem;
    padding: center;
}

.socials {
    font-size: 1.5rem;
    display: flex;
    gap: 2rem;
}

.socials a{
    color: rgb(148, 148, 148);
}

.socials a:hover {
    color: #e5e5e5;
}

.main-footer-links {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem; 
}

.main-footer-links a {
    color: rgb(85, 85, 85);
    text-decoration: none;
    width: 20%;
}

.main-footer-links a:hover {
    color: #e5e5e5;
}

.footer-button{
    font-family: "Chelsea Market";
    background: transparent;
    border: 1px solid rgb(167, 167, 167);
    color: rgb(114, 113, 113);
    font-size: 1rem;
    padding: .5rem
}

.footer-button:hover {
    color: #e5e5e5;
    border: 1px solid #e5e5e5;
}


.span {
    color: grey;
    margin-bottom: 0.5rem;
}

.footer {
    font-family: "Chelsea Market";
    display: flex;
    justify-content: center;

}
/* search ikonu */
.input-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    position: relative;
  }
  
  .input {
    border-style: none;
    height: 25px;
    width: 0px;
    padding: 10px;
    outline: none;
    border-radius: 50%;
    transition: .5s ease-in-out;
    background-color: transparent;
    padding-right: 40px;
    color: #fff;
  }
  
  .input::placeholder,
  .input {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 17px;
  }
  
  .input::placeholder {
    color: #8f8f8f;
  }
  
  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    outline: none;
    border-style: none;
    border-radius: 50%;
    pointer-events: painted;
    background-color: transparent;
    transition: .2s linear;
    padding-right: 0;
    gap: 0;
  }
  
  .icon:focus ~ .input,
  .input:focus {
    box-shadow: none;
    width: 250px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom: 3px solid #ffffff;
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
  }
